.content {
    margin: 1em 2em;
}

.money, .networth {
    background-color: rgb(236, 234, 234);
    padding: 20px;
    overflow: auto;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(102, 118, 131);
    border-radius: 10px;
}

.money {
    width: 20em;
}

.networth {
    width: 25em;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.content:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1200px wide or less) */
@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
    }
}

h2, h3 {
    color: rgb(57, 64, 71);
}

