.nav-bar {
    background-color: rgb(102, 118, 131);
    overflow: auto;
    text-transform: uppercase;
}

/*nav-barin linkit */
.nav-bar a:link {
    color: white;
    padding: 0.65em;
    text-decoration: none;
}
.nav-bar a:visited {
    color: white;
    text-decoration: none;
}
.nav-bar a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(57, 64, 71);
}
.nav-bar a.current {
    color: white;
    text-decoration: none;
    background-color: rgb(57, 64, 71);
}
  
.nav-bar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
.nav-bar li {
    float: left;
    margin: 5px 20px;
    padding: 0.3em;
}