.transaction {
    background-color: white;
    margin: 10px;
    padding: 4px;
    text-align: center;
    width: 4.5em;
    height: 2.2em;
    float: left;
  }
.income {background-color: red;}
.expense {background-color: green; color: white;}