.transaction {
    background-color: white;
    margin: 10px;
    padding: 4px;
    text-align: center;
    width: 7.5em;
    height: 1.5em;
    float: left;
  }
.expense {background-color: red;}
.income {background-color: green; color: white;}