.transaction {
    background-color: white;
    margin: 5px;
    padding: 4px;
    text-align: left;
    width: 7.5em;
    height: 1.5em;
    float: left;
  }
.expense {background-color: rgb(184, 26, 26);
    color: white;}
.income {background-color: rgb(61, 129, 61); 
    color: white;}